<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Portfolio of Park Soyun">
    <meta name="author" content="Sada-Andagi">

    <title>The Portfolio - Park Soyun</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.css" rel="stylesheet">
    
     <link rel="icon" type="image/png" href="static/img/profile/icon.png" sizes="240x460" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
            	    <i class="fa fa-diamond fa-2x" aria-hidden="true"></i>            
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skillset">skillset</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id="temp_header">
    	<canvas id="canvasElement">Your browser does not support the Canvas element.</canvas>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Soyun Park</h1>
                <hr>
                <img id="profile" src="/static/img/profile/ME_6.jpg" alt="picture of me" />
                <h3>A strong sense of curiosity, Adventurous, self-motivated Software Developer</h3>
                <p> In Ottawa, ON, Canada </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Grasp Me</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container" style="width:88%;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ABOUT</h2>
                    <hr class="light">
                </div>
            </div>
            <div class"row" >
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <img id="aboutImage" src="/static/img/profile/WorkExperience.png" />
                    </div>
                    <div class="col-sm-6">
                        <h2> Work Experience </h2>
                        <h4> Mackevision 2016 - 2018</h4>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag pink">Python</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag forest">Qt4</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag cinereous">XML</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag hazmat">SCRUM</span>
                        <br>
                        <p >
                            <ul class="text-faded">
                                <li> Junior Product Data Manager </li>
                                <li> Design, build and implement data extraction, integration, transformation for business logic</li>
                                <li> Work as part of a highly collaborative team to iteratively develop and test software features that meet product requirements and customer expectations</li>
                                <li> Create and improve the suite of tools that enable the entire production pipeline to connect.</li>
                                <li> Take control entire feature information of project from specification to release.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align: right;">
                    <div class="col-sm-6">
                        <h2> Bachelor's in Software Engineering </h2>
                        <h4> Dankook University 2012 - 2016</h4>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag haze">C</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag green">C++</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag cinereous">C#</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag lapislazuli">.Net</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag pink">Python</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag lavender">MySQL</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag fire">OS</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag pearl">Cloud</span>
                        <span data-v-2fd2f9fa="" data-v-310631aa="" class="tag aquamarine">Agile</span>
                        <br><br>
                        <p >
                            <ul class="text-faded" style="text-align: left;">
                                <li> GPA : 3.22 </li>
                                <li> Get a concept of Object-Oriented Programming</li>
                                <li> Participate to develop EC2 Based Data Visualization Web Application</li>
                                <li> Have a strong intersts in .Net and MFC and Enjoy for making tools with it</li>
                                <li> Learn about Database Management System, Agile, Multimedia, Operating System Structure, Data Structure, and Algorithm </li>
                            </ul></p>
                    </div>
                    <div class="col-sm-6">
                            <img id="aboutImage" src="/static/img/profile/DankookUniv.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="skillset">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SKILL SET</h2>
                    	<p>So far I've managed to pick up the following skills along the way</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-indent text-primary sr-icons"></i>
                        <h3>Programing Language</h3>
                        <p class="text-muted">C, C++, <strong>C#</strong>, <strong>Python 3</strong>, MATLAB</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map text-primary sr-icons"></i>
                        <h3>Web Development</h3>
                        <p class="text-muted">HTML5, CSS, Javascript, Bootstap</p>
                        <p class="text-muted">Django, <strong>Flask</strong>, Nginx, AWS EC2</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-database text-primary sr-icons"></i>
                        <h3>Data Engineering</h3>
                        <p class="text-muted"> <strong>Python</strong>, <strong>MySQL</strong>, SQLite, Entity Framework</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                    	<i class="fa fa-4x fa-windows text-primary sr-icons"></i>
                       	<h3>Windows Application Development</h3>
                       	<p class="text-muted"><strong>.NET Framework</strong>, <strong>UWP</strong>, MVVM Architectural Pattern</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="portfolio" >
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
            	{% for item_num in portfolio_item_num[0:3] %}
                <div class="col-lg-6 col-sm-6">
                    <a href="#modal{{ item_num }}" class="portfolio-box" data-toggle="modal">
                        <img src="static/img/thumbnails/{{ item_num }}.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Personal Project
                                </div>
                                <div class="project-name">
                                    {{ Project_Name[item_num-1] }}
                                </div>
                                <br>
                                <div class="project-category">
                                    {{ Project_Desc[item_num-1] }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Do you want to see my résumé?</h2>
                <p>Here it is</p>
                <a id = "download_buttn" href="static/attachment/resume-Soyun Park.pdf" class="btn btn-default btn-xl sr-button" download="resume-Soyun Park.pdf">résumé</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">I Look Forward to hearing from you!</h2>
                    <hr class="primary">
                    <p>Feel free to get in touch! I am always interested in becoming a better software developer, and meeting interesting people in Ottawa</p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>613-890-2498</p>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="https://www.linkedin.com/in/soyun-park-263069176/">
                        <img src="/static/img/profile/In-2C-59px-TM.png" style="width: 4em;"/>
                    </a>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="https://github.com/SoyunPark128?tab=repositories">
                        <img src="/static/img/profile/GitHub-Mark-64px.png" style="width: 4em;"/>
                    </a>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">soyun.park712@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
{% for item_num in portfolio_item_num %}
    <div id="modal{{ item_num }}" class="modal fade" role="dialog">
  		<div class="modal-dialog">

    		<!-- Modal content-->
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">&times;</button>
        			<h4 class="modal-title">{{ Project_Name[item_num-1] }}</h4>
      			</div>
      			<div class="modal-body">
        			<div id="myCarousel{{ item_num }}" class="carousel slide" data-ride="carousel">
						 <!-- Indicators -->
						 <ol class="carousel-indicators">
						{% for pic_num in range(file_count[item_num  - 1]) %}
						 	{% if pic_num == 1 %}
						   <li data-target="#myCarousel{{ item_num }}" data-slide-to="{{ pic_num }}" class="active"></li>
						   	{% else %}
						   <li data-target="#myCarousel{{ item_num }}" data-slide-to="{{ pic_num }}"></li>
						   	{% endif %}
						 {% endfor %}
						 </ol>
						
						 <!-- Wrapper for slides -->
						 <div class="carousel-inner" role="listbox">
						 {% for pic_num in range(file_count[item_num - 1]) %}
						 	{% if pic_num == 0 %}
						   	<div class="item active">
						     	<img src="static/img/item_{{ item_num }}/{{ pic_num+1 }}.jpg" alt="Chania">
						   	</div>
						   	{% else %}
						   	<div class="item">
						     	<img src="static/img/item_{{ item_num }}/{{ pic_num+1 }}.jpg" alt="Chania">
						   	</div>
						   	{% endif %}
						 {% endfor %}
						 </div>
						
						 <!-- Left and right controls -->
						  <a class="left carousel-control" href="#myCarousel{{ item_num }}" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#myCarousel{{ item_num }}" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
     		 	</div>
    		</div>

  		</div>
	</div>
{% endfor %}
    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vendor/bootstrap/js/diamond.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <!--  <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->

    <!-- Theme JavaScript -->
    <script src="static/js/creative.min.js"></script>
    


</body>

</html>
